.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 20pt);
  padding: 10pt;
}

h1,h2,h3,h4,h5,h6{
  margin: 0pt;
}

.post{
  display: flex;
  flex-direction: column;
  width: calc(100% - 20pt);
}

.post header{
  display: flex;
  align-items: center;
  gap: 40pt;
  width: 100%;
}

header:hover{
  background-color: slategray;
  cursor: pointer;
}

.reply header:hover{
  background-color: rgba(255, 255, 255, 0);
  cursor: default;
}

.post .stats{
  flex: 1;
  text-align: right;
}

.reply{
  margin: 10pt;
}

.reply:has( .reply){
  border-left: 1pt solid black;
}

.bgcolor:nth-of-type(even){
  background-color: aquamarine;
}

.bgcolor:nth-of-type(odd){
  background-color: rgb(255, 131, 127);
}